{
  "openapi": "3.0.1",
  "info": {
    "title": "Mbarakajara – Conectores de Conservación",
    "version": "1.4.0",
    "description": "Acceso a datos de biodiversidad (GBIF), geoespaciales (Earth Engine, Overpass), clima (Open-Meteo), y contexto (FAOSTAT, World Bank), para diseñar y gestionar el modelo de la Fundación Mbarakajara."
  },
  "servers": [],
  "paths": {
    "/species/search": {
      "servers": [
        {
          "url": "https://api.gbif.org/v1"
        }
      ],
      "get": {
        "tags": [
          "GBIF"
        ],
        "summary": "Buscar especies por nombre (científico o común)",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Texto de búsqueda (ej. 'Panthera onca')"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resultados de especies"
          }
        }
      }
    },
    "/species/match": {
      "servers": [
        {
          "url": "https://api.gbif.org/v1"
        }
      ],
      "get": {
        "tags": [
          "GBIF"
        ],
        "summary": "Normalizar nombre científico (name matching)",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Nombre científico a normalizar"
          }
        ],
        "responses": {
          "200": {
            "description": "Resultado del name matching"
          }
        }
      }
    },
    "/species/{key}": {
      "servers": [
        {
          "url": "https://api.gbif.org/v1"
        }
      ],
      "get": {
        "tags": [
          "GBIF"
        ],
        "summary": "Detalle de especie por clave GBIF",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ficha de la especie"
          }
        }
      }
    },
    "/occurrence/search": {
      "servers": [
        {
          "url": "https://api.gbif.org/v1"
        }
      ],
      "get": {
        "tags": [
          "GBIF"
        ],
        "summary": "Buscar registros de ocurrencia (avistamientos)",
        "parameters": [
          {
            "name": "scientificName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "ISO-2 (ej. 'PY')"
          },
          {
            "name": "geometry",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "WKT o POLYGON((...))"
          },
          {
            "name": "hasCoordinate",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de ocurrencias"
          }
        }
      }
    },
    "/v1/projects/{project}/assets:list": {
      "servers": [
        {
          "url": "https://earthengine.googleapis.com"
        }
      ],
      "get": {
        "tags": [
          "Earth Engine"
        ],
        "summary": "Listar assets del proyecto (carpetas, tablas, imágenes)",
        "security": [
          {
            "googleOAuth": [
              "https://www.googleapis.com/auth/earthengine"
            ]
          }
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listado de assets"
          }
        }
      }
    },
    "/v1/projects/{project}/images:computeTiles": {
      "servers": [
        {
          "url": "https://earthengine.googleapis.com"
        }
      ],
      "post": {
        "tags": [
          "Earth Engine"
        ],
        "summary": "Calcular tiles/URL de visualización de una imagen (RGB/estilo)",
        "security": [
          {
            "googleOAuth": [
              "https://www.googleapis.com/auth/earthengine"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expression": {
                    "type": "string",
                    "description": "Expresión de imagen o ID de asset"
                  },
                  "grid": {
                    "type": "object",
                    "description": "Parámetros de grilla/zoom"
                  },
                  "visParams": {
                    "type": "object",
                    "description": "Estilos (bands, min, max, gamma)"
                  }
                },
                "required": [
                  "expression"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Información de tiles (mapId, tileUrlTemplate)"
          }
        }
      }
    },
    "/api/interpreter": {
      "servers": [
        {
          "url": "https://overpass-api.de"
        }
      ],
      "post": {
        "tags": [
          "OpenStreetMap"
        ],
        "summary": "Ejecutar consultas Overpass QL (rutas, ríos, áreas protegidas etiquetadas, etc.)",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "string",
                    "description": "Consulta Overpass QL"
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado GeoJSON/JSON"
          }
        },
        "externalDocs": {
          "url": "https://wiki.openstreetmap.org/wiki/Overpass_API"
        }
      }
    },
    "/v1/climate": {
      "servers": [
        {
          "url": "https://climate-api.open-meteo.com"
        }
      ],
      "get": {
        "tags": [
          "Open-Meteo"
        ],
        "summary": "Climatología (normales) para apoyo a restauración/ecología",
        "parameters": [
          {
            "name": "latitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "start_year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "models",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Ej. 'ERA5' o múltiples separados por coma"
          }
        ],
        "responses": {
          "200": {
            "description": "Serie climática agregada"
          }
        }
      }
    },
    "/faostat/api/v1/{lang}/{domain}/{item}": {
      "servers": [
        {
          "url": "https://fenixservices.fao.org"
        }
      ],
      "get": {
        "tags": [
          "FAOSTAT"
        ],
        "summary": "Indicadores FAOSTAT (bosques, agricultura, uso de suelo)",
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "en | es | fr"
          },
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ej. Forestry"
          },
          {
            "name": "item",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ej. FO"
          },
          {
            "name": "area_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Código de país (ej. 167 para Paraguay)"
          },
          {
            "name": "item_code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Datos FAOSTAT"
          }
        }
      }
    },
    "/v2/country/{country}/indicator/{indicator}": {
      "servers": [
        {
          "url": "https://api.worldbank.org"
        }
      ],
      "get": {
        "tags": [
          "World Bank"
        ],
        "summary": "Indicadores de contexto (población rural, áreas protegidas, etc.)",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ISO-2 o ISO-3 (ej. PRY)"
          },
          {
            "name": "indicator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Código del indicador WB"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Rango de años, ej. 2000:2025"
          }
        ],
        "responses": {
          "200": {
            "description": "Serie del indicador solicitado"
          }
        }
      }
    },
    "/api/current/gbOpen/{ISO}/{ADM}": {
      "servers": [
        {
          "url": "https://www.geoboundaries.org"
        }
      ],
      "get": {
        "tags": [
          "geoBoundaries"
        ],
        "summary": "Descargar límites administrativos (ej. Paraguay ADM0/ADM1/ADM2)",
        "parameters": [
          {
            "name": "ISO",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Código ISO-3 del país (PRY)"
          },
          {
            "name": "ADM",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Nivel administrativo (ADM0/ADM1/ADM2)"
          }
        ],
        "responses": {
          "200": {
            "description": "Metadatos/descarga de límites administrativos"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "googleOAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/earthengine": "Acceso a recursos de Google Earth Engine"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "GBIF",
      "description": "Biodiversidad: especies y ocurrencias"
    },
    {
      "name": "Earth Engine",
      "description": "Imágenes satelitales y análisis geoespacial (requiere OAuth2)"
    },
    {
      "name": "OpenStreetMap",
      "description": "Infraestructura y features via Overpass API"
    },
    {
      "name": "Open-Meteo",
      "description": "Clima histórico y climatología"
    },
    {
      "name": "FAOSTAT",
      "description": "Indicadores FAO de bosques/agricultura"
    },
    {
      "name": "World Bank",
      "description": "Indicadores de contexto socioeconómico"
    },
    {
      "name": "geoBoundaries",
      "description": "Límites administrativos para análisis territorial"
    }
  ],
  "x-prompts": {
    "playbooks": [
      {
        "name": "Diagnóstico rápido de bioma",
        "prompt": "Haz un diagnóstico 80/20 para {bioma} en Paraguay (amenazas, vacíos de conservación, actores clave). Devuelve: tabla de amenazas con severidad (1–5), mapa de áreas prioritarias (si hay), 3 acciones inmediatas."
      },
      {
        "name": "Ficha de especie prioritaria",
        "prompt": "Con GBIF, arma una ficha para {nombre científico/común} en Paraguay: taxonomía, ocurrencias recientes (5 años), hotspots (top 5), estado de conservación, principales amenazas y 3 medidas de manejo."
      },
      {
        "name": "Screening de áreas de restauración",
        "prompt": "Usa geoBoundaries (ADM1/ADM2) y Overpass para localizar áreas degradadas cercanas a cursos de agua en {departamento}. Devuelve lista de polígonos candidatos con justificación, y solicita tiles GEE si procede."
      },
      {
        "name": "Clima para restauración",
        "prompt": "Con Open-Meteo, extrae normales climáticas 1991–2020 para lat/lon {-xx.x,-yy.y}. Resume temperatura/precipitación, estacionalidad y recomendaciones de especies nativas tolerantes."
      },
      {
        "name": "Plan de manejo de reserva (MVP)",
        "prompt": "Genera un plan de manejo adaptativo para la Reserva {nombre}: objetivos, zonificación, protocolo de monitoreo, indicadores (biodiversidad, presión antrópica, gobernanza) y cronograma T1–T4."
      },
      {
        "name": "Incidencia normativa",
        "prompt": "Mapea leyes y reglamentos paraguayos sobre áreas protegidas y bosques. Devuelve matriz: norma, artículo, requisito operativo, entidad competente y oportunidades de incidencia."
      },
      {
        "name": "Alianzas estratégicas",
        "prompt": "Propón 10 alianzas (ONGs, universidades, comunidades, empresas B) alineadas a {línea de acción}. Incluye objetivo de alianza, aporte esperado y próximos pasos."
      },
      {
        "name": "Portafolio de proyectos (donantes)",
        "prompt": "Diseña 3 proyectos ‘listos para fondeo’ (12–24 meses) con teoría de cambio, presupuesto estimado, KPIs, y donantes/convocatorias sugeridas."
      },
      {
        "name": "Monitoreo de especies emblemáticas",
        "prompt": "Define protocolo para {jaguareté/tapir/oso hormiguero/guacamayo azul}: indicadores, diseño muestral, frecuencia, equipo, bioseguridad y tablero mínimo de datos."
      },
      {
        "name": "Informe ejecutivo mensual",
        "prompt": "Compila un informe mensual para el Consejo: hitos, riesgos, métricas clave, uso de fondos, y decisiones requeridas. Máx. 2 páginas + 1 tabla de KPIs."
      }
    ]
  },
  "x-schemas": {
    "general_response": {
      "summary": "string",
      "data_tables": [
        {
          "name": "string",
          "columns": [
            "col1",
            "col2"
          ],
          "rows": [
            [
              "..."
            ]
          ]
        }
      ],
      "maps": [
        {
          "title": "string",
          "source": "GEE/OSM",
          "tile_url": "string or null",
          "notes": "string"
        }
      ],
      "kpis": [
        {
          "name": "string",
          "value": "number|string",
          "unit": "string",
          "target": "number|string"
        }
      ],
      "next_actions": [
        {
          "owner": "role/persona",
          "action": "string",
          "due": "YYYY-MM-DD"
        }
      ],
      "sources": [
        "string"
      ]
    },
    "species_brief": {
      "species": {
        "scientific_name": "string",
        "common_name": "string",
        "status": "IUCN/Local"
      },
      "occurrences": {
        "count": 0,
        "window_years": 5,
        "hotspots": [
          {
            "adm": "string",
            "n": 0
          }
        ]
      },
      "threats": [
        {
          "threat": "string",
          "severity": 1
        }
      ],
      "management": [
        {
          "measure": "string",
          "priority": "alta|media|baja"
        }
      ]
    },
    "restoration_screening": {
      "candidates": [
        {
          "adm": "ADM1/ADM2",
          "geom_ref": "WKT/OSM id",
          "justification": "string",
          "constraints": [
            "string"
          ],
          "gee_tile": "string|null"
        }
      ],
      "recommendation": "string"
    }
  },
  "x-operational_instructions": {
    "return_json_always": true,
    "error_policy": "Reintentar 1 vez; si persiste, continuar con análisis cualitativo y marcar tile_url:null.",
    "gbif_defaults": {
      "country": "PY",
      "hasCoordinate": true,
      "window_years": [
        5,
        10
      ]
    },
    "overpass_policy": "Usar bounding boxes por ADM2; evitar consultas globales; backoff si 429.",
    "gee_policy": "Si no hay OAuth, sugerir dataset público equivalente (Hansen/GlobalForestChange).",
    "presentation": "Usar tablas para amenazas, KPIs y cronogramas; máximo 8 KPIs por proyecto."
  }
}